@{
    ViewBag.Title = "About";
}

<div>    
    <img src="~/Content/Images/coffee.png" style="width: 33%; float: left; height: 700px" />       
    <img src="~/Content/Images/lighthouse.png" style="width: 34%; float: left; height: 700px" />
    <img src="~/Content/Images/castle.jpg" style="width: 33%; float: left; height: 700px" /> 
    <a href="@Url.Action("Search", "Home")" style="width: 33%">
        <div style="position: fixed; top: 320px; left: 0; width: 27%; height: 76px; background-color: #003434; opacity: 0.7; margin: 0 3% 0 3%;"></div>
        <div style="color: white; position: fixed; top: 320px; width: 27%; left: 0; text-align: center; margin: 0 3% 0 3%;">
            <h2 style="font-family: 'Work Sans', sans-serif; margin: 8px;">Search.</h2>
            <h5 style="font-family: 'Work Sans', sans-serif; ">Find cool places to check out by browsing photos</h5>
        </div>
    </a>
    <a href="@Url.Action("Upload", "Home")" style="width: 34%">
        <div style="position: fixed; top: 320px; left: 33%; width: 28%; height: 76px; background-color: #003434; opacity: 0.7; margin: 0 3% 0 3%;"></div>
        <div style="color: white; position: fixed; top: 320px; width: 28%; left: 33%; text-align: center; margin: 0 3% 0 3%;">
            <h2 style="font-family: 'Work Sans', sans-serif; margin: 8px;">Upload.</h2>
            <h5 style="font-family: 'Work Sans', sans-serif; ">Share photos so others can experience the fun</h5>
        </div>
    </a>
    <a href="@Url.Action("Index", "Home")" style="width: 33%">        
        <div style="position: fixed; top: 320px; width: 27%; left: 67%; height: 76px; background-color: #003434; opacity: 0.7; margin: 0 3% 0 3%;"></div>
        <div style="color: white; position: fixed; top: 320px; width: 27%; left: 67%; text-align: center; margin: 0 3% 0 3%;">
            <h2 style="font-family: 'Work Sans', sans-serif; margin: 8px;">View.</h2>
            <h5 style="font-family: 'Work Sans', sans-serif; ">Look back at your photos to remember the adventures</h5>
        </div>
</div>
</div>
